.item{
     padding: 16px;
     border: 1px solid black;
    }
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 16px 16px;

    }

.item1{
grid-column: 2/3;
grid-row: 4/5;
}

.item8{
grid-column: 1/2;
grid-row: 1/2;
}

.item5{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item9{
    grid-row-start: 5;
    grid-row-end: 7;
}